<!DOCTYPE html>
<html>
<head>
	<title> Sample Layout</title>
	<link rel="stylesheet" type="text/css" href="./layout.css">
</head>
<body>
<nav>	
<ul class="navbar">
	<li> Home 		</li>
	<li> Guide		</li>
	<li> Articles	</li>
	<li> Projects	</li>
	<li id="push"> Search     </li>
</ul>
</nav>
<div class="cover">	 This is  cover </div>
<div class ="grid">	
	<img src="./images/Asset 13.png">
	<img src="./images/Asset 14.png">
	<img src="./images/Asset 15.png">
	<img src="./images/Asset 16.png">
	<img src="./images/Asset 17.png">
	<img src="./images/Asset 18.png">
	<img src="./images/Asset 19.png">	
	<img src="./images/Asset 20.png">
	<img src="./images/Asset 21.png">

</div>
<div class="footer">
	Copyright © 2021 Monster Inc | All rights reserved | Privacy Policy Terms of Use Sales Policy Legal Site Map
	
</div>
	




</body>
</html>